# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
/build
/dist
/.next
/out

# Dependency directories
/.pnp
.pnp.js

# dotenv environment variables file
.env

# MacOS
.DS_Store

# IDEs and editors
.vscode/
.idea/

# Log files
*.log

# Coverage directory used by testing tools
/coverage

# NPM package lock file
package-lock.json

# Yarn package lock file
yarn.lock

# React Native
.expo/
